{% extends 'app/base.html' %}
{% load static %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "app/css/edit.css" %}">
{% endblock %}

{% block content %}
  <div class="ui text container">
    {% include 'marco/form_error_macro.html' with form=form %}
    <form class="ui big borderless form" action="" method="POST" id="group_form">
      {% csrf_token %}
      <div class="required five wide field">
        <label>群組名稱</label>
        <input type="text" name="name" placeholder="類別名稱">
      </div>
      <button class="ui submit teal button" type="submit">新增</button>
      <div class="ui error message"></div>
    </form>
  </div>
{% endblock %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'app/js/group.js' %}"></script>
{% endblock %}
