{% extends "app/base.html" %}
{% load static %}

{% block title %}Smart Campus{% endblock %}

{% block content %}
  <div class="ui borderless center aligned text container">
  	<!--
    	- Station 1
    		* question1 (click to edit page)
    		* question2
        ..
    	- Station 2
        * question1
        * question2
        ..
      - ...


  	-->
    <!-- Tests -->
    {% if station_questions %}
      {% for station_question in station_questions %}
        <ul>
          <li>{{ station_question.station }}</li>
          <ul>
          {% for question in station_question.questions %}
            <li>{{ question.content }}</li>
          {% endfor %}
          </ul>
        </ul>
      {% endfor %}
    {% endif %}

    <div class="ui horizontal divider">
      OR
    </div>
    <a class="ui teal labeled icon button" href="{% url 'Question Add Page' %}">
      新增題目
      <i class="add icon"></i>
    </a>
  </div>
{% endblock %}
