{% extends 'app/base.html' %}
{% load static %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "app/css/edit.css" %}">
{% endblock %}

{% block content %}
  <div class="ui text container">
    <form class="ui big borderless form" action="" method="POST" id="question_form">
      {% csrf_token %}
      <div class="required five wide field">
        <label>題目內容</label>
        <input type="text" name="content">
      </div>
      <div class="grouped fields">
        <label>選項及答案勾選</label>
        {% for counter in "1234" %}
        <div class="inline required fields">
          <div class="field">
            <div class="ui toggle checkbox">
              {% if counter == '1' %}
                <input type="radio" name="answer" value="{{ counter }}" checked="cheked">
              {% else %}
                <input type="radio" name="answer" value="{{ counter }}">
              {% endif %}
              <label>選項{{ counter }}</label>
            </div>
          </div>
          <div class="required five wide field">
            <input type="text" name="choice_contents">
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="field">
        <div class="ui inline floating dropdown labeled search icon button">
          <input type="hidden" name="linked_station">
          <i class="search icon"></i>
          <span class="text" id="selectedStationId">選擇站點</span>
          <div class="menu" id="selectionMenu">
            {% if stations %}
              {% for station in stations %}
                <div class="item" data-value="{{ station.id }}" category="{{ station.category }}">
                  {{ station.name }}
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <button class="ui submit teal button" type="submit">新增</button>
      <div class="ui error message"></div>
    </form>
  </div>
{% endblock %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'app/js/question.js' %}"></script>
{% endblock %}
