{% extends "app/base.html" %}
{% load static %}

{% block title %}Smart Campus Reset Password {% endblock %}


{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "app/css/login.css" %}" />
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui teal header">
        <div class="content">
          您好, {{user.email}}
        </div>
      </h2>
      <form class="ui large form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="新密碼">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password2" placeholder="再輸入一次新密碼">
            </div>
          </div>
          <button class="ui fluid large teal submit button" type="submit">重設密碼</button>
        </div>
        <div class="ui error message">
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ block.super }}
  <script src="{% static "app/js/reset_password_page.js" %}"></script>
{% endblock %}
