{% extends "app/base.html" %}
{% load static %}

{% block title %}Smart Campus{% endblock %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "app/css/station_list.css" %}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="ui center aligned basic segment">
  {% if stations %}
    {% for station in stations %}
    <div class="ui cards">
      <div class="card">
        <div class="content">
          <img class="right floated tiny ui image" src="{{ station.image_url }}">
          <div class="header">
            {{ station.name }}
          </div>
          <div class="meta">
            類別
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic green button" href="{% url 'Edit Station Page' station.id %}">修改</div>
            <div class="ui basic red button" href="">刪除</div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  {% endif %}
    <div class="ui horizontal divider">
      OR
    </div>
    <div class="ui teal labeled icon button" href="{% url 'Add Station Page' %}">
      新增站點
      <i class="add icon"></i>
    </div>
  </div>
</div>



{% endblock %}
