{% extends 'app/base.html' %}
{% load static %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.11.0/trix.css">
  <link rel="stylesheet" type="text/css" href="{% static "app/css/edit.css" %}">
{% endblock %}

{% block content %}
  <div class="ui container">
    <form class="ui centered big form" method="POST" enctype="multipart/form-data" id="station_form">
      {% include 'marco/form_error_macro.html' with form=form %}
      {% csrf_token %}
      <div class="fields">
        <div class="field">
          <label>名稱</label>
          <input id="name" name="name" type="text" placeholder="站點名稱" value="{{ form_data.name }}">
        </div>
        <div class="field">
          <label>類別</label>
          <select class="ui selection dropdown" name="category">
            {% if categories %}
              {% for category in categories %}
                <option value="{{ category.id }}" {% if form_data.category|stringformat:"s" == category.name|stringformat:"s" %}selected{% endif %} >{{ category.name }}</option>
              {% endfor %}
            {% endif %}
          </select>
        </div>
        <div class="left floated field">
          <label>綁定收藏品</label>
          <div class="ui inline floating dropdown labeled search icon button">
          <input type="hidden" name="reward" value="{{ form_data.reward.id }}">
          <i class="search icon"></i>
          <span class="text" id="selectedRewardId">選擇收藏品</span>
          <div class="menu" id="selectionMenu">
            {% if rewards %}
              {% for reward in rewards %}
                <div class="item" data-value="{{ reward.id }}">
                  {{ reward.name }}
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        </div>
      </div>
      <hr>
      <div class="field">
        <label>推播內容</label>
        <input id="x" type="hidden" name="content">
        <trix-editor form="station_form" input="x"></trix-editor>
      </div>
      <hr>

      <!-- Button : Change Image -->
      <div class="field">
        <label>更新圖片</label>
        {% if images %}
          {% for image in images %}
            <div class="ui centered card">
              <div class="ui medium image">
                <div class="ui dimmer">
                  <div class="content">
                    <div class="center">
                      {% if image.is_primary %}
                        <h2>刪除前請先將其他圖片設為主要圖片</h2>
                      {% else %}
                        <a class="ui small teal button" href="{% url 'Set Primary Station Image' image.id %}">選為主要圖片</a>
                        <a class="ui small red button" href="{% url 'Delete Station Image' image.id %}">刪除</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <img src="{{ image.image.url }}">
              </div>
            </div>
          {% endfor %}
        {% endif %}
        <div class="ui center aligned grid">
          <div class="five wide field">
            <div id="uiAddImage">
              <div class="ui action input">
                <input type="text" placeholder="img 1" readonly="">
                <input id="img1" name="img1" type="file" accept="image/*" style="display: none;">
                <div class="ui icon button">
                  <i class="attach icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui center aligned grid">
          <div class="column">
            <button type="button" id="addimage" name="btn_addimage" class="btn btn-danger" onclick="">新增照片欄位</button>
          </div>
        </div>
      </div>
      <hr>
      <div class="four wide column centered field">
        <label>Beacon位置一覽(請點選beacon)</label>
        <div id="map" style="height:400px;width:600px"></div>
      </div>
      <div class="field">
        <input id="selectbasic" type="text" name="beacon" placeholder="請於地圖點選" readonly="">
      </div>
      <hr>
      <div class="field">
        <label>站點位置(預設為Beacon位置)</label>
        <br>
        <div class="three wide field">
          <label>緯度</label>
          <input id="lat_input" name="lat" type="number" step="any" placeholder="緯度" class="form-control input-md" value="{{ form_data.lat|stringformat:'f' }}">
        </div>
        <div class="three wide field">
          <label>經度</label>
          <input id="lng_input" name="lng" type="number" step="any" placeholder="經度" class="form-control input-md" value="{{ form_data.lng|stringformat:'f' }}">
        </div>
      </div>
      <button class="ui fluid teal submit button" type="submit">儲存站點資訊</button>
      <div class="ui error message"></div>
    </form>
  </div>
{% endblock %}

{% block script %}
  {{ block.super }}
  <script>
    var location_arr = [];

    {% if beacons %}
      {% for beacon in beacons %}
        location_arr.push(['{{ beacon.name }}', {{ beacon.location.y }}, {{ beacon.location.x }}])
      {% endfor %}
    {% endif %}
    var MAX_IMGS = {{ max_imgs }};
  </script>
  <script type="text/javascript" src="{% static 'app/js/station.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiIZ8KVmbarK__OmCfefXwySbsAQb-JiM&callback=initMap" async defer></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.11.0/trix.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      const element = document.querySelector("trix-editor")
      element.editor.setSelectedRange([0, 0])
      element.editor.insertHTML( '{{ form_data.content|safe|escape }}' )
      const beacon_name = '{{form_data.beacon|stringformat:"s"}}'
      $("#selectbasic").val( beacon_name )
      $("#lat_input").val( {{ form_data.lat|stringformat:'f'}} )
      $("#lng_input").val( {{ form_data.lng|stringformat:'f' }} )


      $('.ui.selection').dropdown();
      $(".ui.icon.button").click(function () {
        $(this).parent().find("input:file").click();
      });

      $('input:file', '.ui.action.input')
        .on('change', function (e) {
          var name = e.target.files[0].name;
          $('input:text', $(e.target).parent()).val(name);
        });
      $('.ui.radio.checkbox')
        .checkbox();
      $('.field .image').dimmer({
        on: 'hover'
      });
      $('.ui.inline.floating.dropdown.labeled.search.icon.button').dropdown();
    })
  </script>
{% endblock %}
