{% extends "app/base.html" %}
{% load static %}

{% block title %}Smart Campus{% endblock %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "app/css/station.css" %}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <p>
        <a href="{% url 'Add Station Page' %}" class="btn btn-sq-lg btn-outline-primary">
          <br>
          <i class="fa fa-plus-square-o fa-5x" aria-hidden="true" ></i>
        </a>        
      </p>
    </div>
    {% if stations %}
      {% for station in stations %}
        <div class="col-lg-3">
          <p>
            <a href="{% url 'Edit Station Page' station.id %}" class="btn btn-sq-lg btn-outline-primary">
              <br>
              {{ station.name }}
            </a>        
          </p>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
