{% extends "app/base.html" %}
{% load static %}

{% block title %}Smart Campus{% endblock %}

{% block stylesheet %}
  {{ block.super }}>
  <link rel="stylesheet" type="text/css" href="{% static 'trix/trix.css' %}">
  <script type="text/javascript" src="{% static 'trix/trix.js' %}"></script>
  <style rel="stylesheet" type="text/css">
    .ui.container {
      margin-bottom: 1em;
    }
  </style>
{% endblock %}

{% block content %}
<div class="ui container">

  <!-- Form -->
  <form class="ui centered big form" method="POST" enctype="multipart/form-data" id="station_form">
      {% for field in form %}
          {% if field.errors %}
          <div class="ui negative message">
          {% for error in field.errors %}
              <li>{{ field.label }}: {{ error|escape }}</li>
          {% endfor %}
        </div>
          {% endif %}
        {% endfor %}
    {% csrf_token %}
    <div class="fields">

      <div class="required field">
        <label>名稱</label>
        <input id="name" name="name" type="text" placeholder="站點名稱" value="{{ form.cleaned_data.name }}" required="">
      </div>

      <div class="required field">
        <label>類別</label>
        <div class="ui selection dropdown">
          <input type="hidden" name="category">
          <i class="dropdown icon"></i>
          <div class="default text">請選擇類別...</div>
          <div class="menu">
            {% if categories %} {% for category in categories %}
            <div class="item" value="{{ category.name }}" data-value="{{ category.name }}">
              {{ category.name }}
            </div>
            {% endfor %} {% endif %}
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="field">
      <label>推播內容</label>
      <input id="x" type="hidden" name="content">
      <trix-editor form="station_form" input="x" >{{ form.cleaned_data.content }}</trix-editor>
    </div>
    <hr>

    <div class="required five wide field">
      <label>圖片上傳</label>
      <div id="uiAddImage">
        <div class="ui action input">
          <input type="text" placeholder="img 1" readonly="">
          <input id="img1" name="img1" type="file" accept="image/*" style="display: none;">
          <div class="ui icon button">
            <i class="attach icon"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="grouped fields">
      <label>選擇主要照片</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="main_img_num" id="radios-1" value="1" checked="">
          <label>圖片1</label>
        </div>
      </div>
    </div>
    <button type="button" id="addimage" name="btn_addimage" class="btn btn-danger" onclick="">新增照片欄位</button>
    <hr>
    <div class="four wide column centered field">
      <label>Beacon位置一覽(請點選beacon)</label>
      <div id="map" style="height:400px;width:600px"></div>
    </div>
    <div class="field">
      <input id="selectbasic" type="text" name="beacon" placeholder="請於地圖點選" readonly="">
    </div>
    <hr>
    <div class="required field">
      <label>站點位置(預設為Beacon位置)</label>
      <div class="required three wide field">
        <label>緯度</label>
        <input id="lat_input" name="lat" type="number" step="any" placeholder="緯度" class="form-control input-md" required="" value="{{ form.cleaned_data.lat }}">
      </div>
      <div class="required three wide field">
        <label>經度</label>
        <input id="lng_input" name="lng" type="number" step="any" placeholder="經度" class="form-control input-md" required="" value="{{ form.cleaned_data.lng }}">
      </div>
    </div>
    <button class="ui fluid teal submit button" type="submit">加入站點</button>
  </form>
</div>

{% endblock %}

{% block script %}
  {{ block.super }}
  <script>
      /*Get location(lat, lng) of beacons,
        In order to show them on the Map*/
        var location_arr = [];

        {% if beacons %}
          {% for beacon in beacons %}
            location_arr.push(['{{ beacon.name }}', {{ beacon.location.y }}, {{ beacon.location.x }}])
          {% endfor %}
        {% endif %}

        var MAX_IMGS = {{ max_imgs }};
    </script>
    <script type="text/javascript" src="{% static 'app/js/station.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiIZ8KVmbarK__OmCfefXwySbsAQb-JiM&callback=initMap" async defer></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('.ui.selection').dropdown();
        $(".ui.icon.button").click(function () {
          $(this).parent().find("input:file").click();
        });

        $('input:file', '.ui.action.input')
          .on('change', function (e) {
            var name = e.target.files[0].name;
            $('input:text', $(e.target).parent()).val(name);
          });
        $('.ui.radio.checkbox')
          .checkbox();

        })
    </script>
{% endblock %}

