{% extends 'app/base.html' %}
{% load static %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.11.0/trix.css">
  <link rel="stylesheet" type="text/css" href="{% static "app/css/edit.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "app/css/travelplan_edit_page.css" %}">
{% endblock %}

{% block content %}
  <div class="ui text container">
    <div class="ui centered big form" enctype="multipart/form-data" id="travelplan_form">
      {% include 'marco/form_error_macro.html' with form=form %}
      <div class="four wide field">
        <label>行程名稱</label>
        <input id="name" name="name" type="text" placeholder="行程名稱" value="{{ form_data.name }}" required="">
      </div>
      <hr>
      <div class="field">
        <label>行程描述</label>
        <textarea name="description" rows="4">{{form_data.description}}</textarea>
      </div>
      <hr>
      <!-- Button : Change Image -->
      <div class="field">
        <label>更新圖片</label>
        {% if travelplan.image %}
          <div class="ui centered card">
            <div class="ui medium image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <a class="ui small red button" href="">刪除</a>
                  </div>
                </div>
              </div>
              <img src="{{ travelplan.image.url }}">
            </div>
          </div>
        {% endif %}
        <div class="ui center aligned grid">
          <div class="five wide field">
            <div id="uiAddImage">
              <div class="ui action input">
                <input type="text" placeholder="img 1" readonly="">
                <input id="image" name="image" type="file" accept="image/*" style="display: none;">
                <div class="ui icon button">
                  <i class="attach icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="field">
        <label>行程站點規劃 (拖曳決定順序，由上而下)</label>
        <div class="ui center aligned grid">
          <div class="column">
            <div class="ui vertical big steps" id="sortable">
              {% if selected_stations %}
                {% for station in selected_stations %}
                  <div class="completed step" id="travelplan" data-id='{{ station.id }}'>
                    <i class="sort icon"></i>
                    <div class="content" id="category">
                      <div class="title">{{ station.name }}</div>
                      <div class="description">
                        {{ station.category}}
                      </div>
                      <div class="meta">
                        <a class="ui mini basic red button" id="deleteStep" num="{{ station.id }}">刪除</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="ui center aligned grid">
          <div class="column">
            <i class="angle double down icon"></i>
          </div>
        </div>
        <div class="ui center aligned grid">
          <div class="column">
          <div class="ui inline floating dropdown labeled search icon button">
            <i class="search icon"></i>
            <span class="text" id="selectedStationId">選擇站點</span>
            <div class="menu" id="selectionMenu">
              {% if stations %}
                {% for station in stations %}
                  <div class="item" data-value="{{ station.id }}" category="{{ station.category }}">
                    {{ station.name }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
          <div class="right attached ui labeled icon button" id="addStationButton">
            <i class="plus icon"></i>
            來新增
          </div>
        </div>
      </div>
      <hr>
      <div class="ui fluid teal submit button" id="submitButton">儲存站點資訊</div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ block.super }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.11.0/trix.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>
  <script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}"
  </script>
  <script type="text/javascript" src="{% static 'app/js/travelplan_edit_page.js' %}"></script>
{% endblock %}
