{% extends "app/base.html" %}
{% load static %}

{% block title %}Smart Campus{% endblock %}

{% block stylesheet %}
  {{ block.super }}
  <style rel="stylesheet" type="text/css">
    .ui.borderless.center.aligned.text.container {
      margin-bottom: 1em;
    }
  </style>
{% endblock %}

{% block content %}
<div class="ui borderless center aligned text container">
  <div class="ui divided items">
    {% if travelplans %}
      {% for travelplan in travelplans %}
        <div class="item">
          {% if travelplan.image %}
            <div class="image">
              <img src="{{ travelplan.image.url }}">
            </div>
          {% endif %}
          <div class="ui left aligned segment content">
            <div class="ui header">
              {{ travelplan.name }}
            </div>
            <div class="description">
              {{ travelplan.description }}
            </div>
            <div class="extra">
              <div class="ui right floated buttons">
                <a class="ui basic green button" href="">修改</a>
                <a class="ui basic red button" href="">刪除</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="ui horizontal divider">
      OR
  </div>
  <a class="ui teal labeled icon button" href="{% url 'TravelPlan Add Page' %}">
      新增行程
    <i class="add icon"></i>
  </a>
</div>



{% endblock %}
{% block script %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'app/js/station.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiIZ8KVmbarK__OmCfefXwySbsAQb-JiM&callback=initMap" async defer></script>
{% endblock %}