{% extends 'app/base.html' %}
{% load static %}

{% block title %}Smart Campus{% endblock %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.11.0/trix.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.11.0/trix.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static "app/css/edit.css" %}">
{% endblock %}
{% block content %}
<div class="ui container">

  <form class="ui centered big form" method="POST" enctype="multipart/form-data" id="travelplan_form">
    {% for field in form %}
      {% if field.errors %}
        <div class="ui negative message">
          {% for error in field.errors %}
            <li>{{ field.label }}: {{ error|escape }}</li>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
    {% csrf_token %}
    <div class="field">
      <label>行程名稱</label>
      <input id="name" name="name" type="text" placeholder="行程名稱" value="{{ form_data.name }}" required="">
    </div>
    <hr>
    <div class="field">
      <label>行程描述</label>
      <textarea name="description" rows="4">{{form_data.description}}</textarea>
    </div>
    <hr>
    <!-- Button : Change Image -->
    <div class="field">
      <label>更新圖片</label>
      {% if images %}
        {% for image in images %}
        <div class="ui centered card">
          <div class="ui medium image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  {% if image.is_primary %}
                    <h2>刪除前請先將其他圖片設為主要圖片</h2>
                  {% else %}
                    <a class="ui small teal button" href="{% url 'Set Primary Station Image' image.id %}">選為主要圖片</a>
                    <a class="ui small red button" href="{% url 'Delete Station Image' image.id %}">刪除</a>
                  {% endif %}
                </div>
              </div>
            </div>
            <img src="{{ image.image.url }}">
          </div>
        </div>
        {% endfor %}
      {% endif %}
      <div class="ui center aligned grid">
        <div class="five wide field">
          <div id="uiAddImage">
            <div class="ui action input">
              <input type="text" placeholder="img 1" readonly="">
              <input id="img1" name="img1" type="file" accept="image/*" style="display: none;">
              <div class="ui icon button">
                <i class="attach icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui center aligned grid">
        <div class="column">
          <button type="button" id="addimage" name="btn_addimage" class="btn btn-danger" onclick="">新增照片欄位</button>
      </div>
    </div>
    <hr>
    <div class="field">
      <label>行程站點規劃</label>
      <div class="ui center aligned grid">
        <div class="column">
          <div class="ui vertical steps" id="sortable">
            <div class="completed step">
              <i class="truck icon"></i>
              <div class="content">
                <div class="title">Shipping</div>
                <div class="description">Choose your shipping options</div>
              </div>
            </div>
            <div class="completed step">
              <i class="credit card icon"></i>
              <div class="content">
                <div class="title">Billing</div>
                <div class="description">Enter billing information</div>
              </div>
            </div>
            <div class="active step">
              <i class="info icon"></i>
              <div class="content">
                <div class="title">Confirm Order</div>
                <div class="description">Verify order details</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui center aligned grid">
        <div class="column">
        <div class="ui inline floating dropdown labeled search icon button">
          <i class="search icon"></i>
          <span class="text">選擇站點</span>
          <div class="menu">
            <div class="item" data-value="rw"></i>Rwanda</div>
          </div>
        </div>
        <div class="right attached ui labeled icon button">
          <i class="plus icon"></i>
          來新增
        </div>
      </div>
    </div>
    <hr>
    <button class="ui fluid teal submit button" type="submit">儲存站點資訊</button>
  </form>
</div>

{% endblock %}

{% block script %}
  {{ block.super }}
  <script src="//cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.ui.inline.floating.dropdown.labeled.search.icon.button').dropdown()
    })

    let el = document.getElementById('sortable');
      Sortable.create(el, {
        group: "localStorage-example",
        store: {
          /**
           * Get the order of elements. Called once during initialization.
           * @param   {Sortable}  sortable
           * @returns {Array}
           */
          get: function (sortable) {
            var order = localStorage.getItem(sortable.options.group.name);
            return order ? order.split('|') : [];
          },

          /**
           * Save the order of elements. Called onEnd (when the item is dropped).
           * @param {Sortable}  sortable
           */
          set: function (sortable) {
            var order = sortable.toArray();
            localStorage.setItem(sortable.options.group.name, order.join('|'));
          }
        }
      })
  </script>
{% endblock %}
