body{    
    background-image: url(http://www.ide.ncku.edu.tw/headline/13.jpg);
    background-repeat:repeat-x;
    background-attachment: fixed;
    background-size: auto;
    background-position: center; 
}
.loginbox{  
    background: white;
    color: black;    
    margin-top: 30%;
    left: 0;
    padding: 20px;   
    box-shadow: 0 8px 50px -2px #000;
    border-radius:5px;
}
.logo{
    width: 250px; 
    margin-left: 10%;
}
@media (max-width:767px) {
    .loginbox{ 
        margin-top: 10%;
    }    
}
.loginbox_content{
    padding:5% 11% 5% 11%;
}
.singtext{
    font-family: "Open Sans",sans-serif;
    font-size: 27px;  
    color: #82C226;
    float: right;
    padding-right: 25%;
}
.submit-btn{
    float: right;
    margin-right: 28%;
}
.forgotpassword{
    padding-left: 10%;
}
@media (max-width:800px) {
    .submit-btn{
        margin-right: 23%;
    }   
}
