{% extends 'app/base.html' %}
{% load static %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "app/css/edit.css" %}">
{% endblock %}

{% block content %}
  <div class="ui text container">
    <form class="ui big borderless form" action="" method="POST" id="beacon_form">
      {% for field in form %}
        {% if field.errors %}
        <div class="ui negative message">
          {% for error in field.errors %}
            <li>{{ field.label }}: {{ error|escape }}</li>
          {% endfor %}
        </div>
        {% endif %}
      {% endfor %}
      {% csrf_token %}
      <div class="required five wide field">
        <label>Beacon ID</label>
        <input type="text" name="beacon_id" placeholder="801-xxxxx-xxxxx">
      </div>
      <div class="required five wide field">
        <label>名稱</label>
        <input type="text" name="name" placeholder="bsn-bv-xxx-rwd">
      </div>
      <div class="field">
        <label>描述</label>
        <textarea rows="2" form="beacon_form" type="text" name="description" ></textarea>
      </div>
      <div class="fields">
        <div class="required five wide field">
          <label>經度</label>
          <input name="lng" type="number" step="any" placeholder="經度">
        </div>
        <div class="required five wide field">
          <label>緯度</label>
          <input name="lat" type="number" step="any" placeholder="緯度">
        </div>
      </div>
      <div class="field">
        <label>管理群組</label>
        <div class="ui selection dropdown">
          <input type="hidden" name="owner_group">
          <i class="dropdown icon"></i>
          <div class="default text">請選擇群組...</div>
          <div class="menu">
            {% if groups %}
              {% for group in groups %}
                <div class="item" value="{{ group.id }}" data-value="{{ group.id }}">
                  {{ group.name }}
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <button class="ui submit teal button" type="submit">儲存</button>
      <div class="ui error message"></div>
    </form>
  </div>
{% endblock %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'app/js/beacon_add_page.js'%}"></script>
{% endblock %}
