{% extends 'app/base.html' %}
{% load static %}
{% block title %}HeatMap{% endblock %}
{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
  <link rel="stylesheet" type="text/css" href="{% static 'extra/css/heatmap.css' %}" />
  <style>
    .masthead {
      position: relative;
      overflow: hidden;
      text-align: center;
      padding: 0em;
      color: rgba(255, 255, 255, 0.9);
      margin-bottom: 0px;
      border-bottom: none;

      background-color: #000000;
      background-position: 50% 50%;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .masthead:after {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1;
      width: 100%;
      height: 100%;
      content: '';
      background-size: cover;

      opacity: 0.45;
    }
    .masthead.bg1:after {
      background-image: url({% static 'extra/images/2-1.png' %});
    }
  </style>
{% endblock %}

{% block script %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/components/visibility.js"></script>

  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <script src="https://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>
  <script type="text/javascript" src="{% static 'extra/js/heatmap.js' %}"></script>
{% endblock %}
{% block nav %}
{% endblock %}

{% block content %}
<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
  var category_percentage;
  $(document).ready(function() {
    /*$('.top3').hover(function() {
      $(this).transition('fly up').transition('fly up');
    }, function(){});
    
    $('#section-1').hover(function () {
      $('#mapid').transition('fade').transition('fly right');
    }, function(){});*/
    

    var data_arr = [
    ];
    var data_arr2 = [
    ];
    var dynamicColors = function() {
            var max=255, min=Math.floor(Math.random() * (128-20))+20;
            var r = Math.floor(Math.random() * (max-min))+min;
            var g = Math.floor(Math.random() * (max-min))+min;
            var b = Math.floor(Math.random() * (max-min))+min;
            return "rgb(" + r + "," + g + "," + b + ")";
         };

   
    
    $.getJSON('/smart_campus/get_beacon_detect_percentage_by_user/', function (data) {
      var sum=0;
      $('.ui.statistic > .total').text(data.total);
      $('.ui.statistic > .today').text(data.today_total);
      category_percentage = data.category_percentage;

      for (var entry in data.data) {
        var p = Math.round(data.data[entry] * 1000) / 10;
        sum+=p;
        data_arr.push('使用者 '+(parseInt(entry)+1));
        data_arr2.push(p);
      }
      data_arr.push('訪客');
      data_arr2.push(100-sum);
      console.log(data_arr);

      var coloR = [];
      for (var i in data_arr) {
     
        coloR.push(dynamicColors());
      }
      var ctx = $("#myChart");
      var myDoughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          datasets: [{
              data: data_arr2,
              backgroundColor: coloR
          }],

          // These labels appear in the legend and in the tooltips when hovering different arcs
          labels: data_arr,
          
        },
        
      });
      $('#myChart')
        .popup({
          popup: '.flowing'
        })
      ;
      $("#myChart").click(function(evt) {
        var activePoints = myDoughnutChart.getElementsAtEvent(evt);
        if (activePoints[0]) {
          var chartData = activePoints[0]['_chart'].config.data;
          var idx = activePoints[0]['_index'];

          var label = chartData.labels[idx];
          var value = chartData.datasets[0].data[idx];

          var index = parseInt(label.substr(4))
          if(!index) index = category_percentage.length-1
          else index = index - 1;
          console.log(category_percentage[index]);
          var total=0;
          for(var i in category_percentage[index]){
            total=total+category_percentage[index][i]
          }
          console.log(category_percentage[index]['藝文']/total);
          $('.ui.modal > .header').text(label + ' 走訪類別比例');
          $('.ui.red').progress('set progress', Math.floor(100 * parseFloat(category_percentage[index]['藝文'])/total));
          $('.ui.blue').progress('set progress', Math.floor(100 * parseFloat(category_percentage[index]['景觀'])/total));
          $('.ui.orange').progress('set progress', Math.floor(100 * parseFloat(category_percentage[index]['古蹟'])/total));
          $('.ui.green').progress('set progress', Math.floor(100 * parseFloat(category_percentage[index]['行政教學'])/total));
          
          $('.ui.modal')
            .modal('show')
          ;

          //$('.flowing').popup();
        }
      });
      
    });

    var section_offset = [
      $('#section-1').offset().top,
      $('#section-11').offset().top,
      $('#section-2').offset().top,
      $('#section-3').offset().top,
      $('#section-4').offset().top
    ]
    
    $('#menu-item-1').click(function(){
      $('body').animate({scrollTop: section_offset[0]}, 500);
      
    });
    $('#menu-item-11').click(function(){
      $('body').animate({scrollTop: section_offset[1]}, 500);
      
    });
    $('#menu-item-2').click(function(){
      $('body').animate({scrollTop: section_offset[2]}, 500);
    
    });
    $('#menu-item-3').click(function(){
      $('body').animate({scrollTop: section_offset[3]}, 500);

    });
    $('#menu-item-4').click(function(){
      $('body').animate({scrollTop: section_offset[4]}, 500);

    });
    /*
    $.ajax({
      type: "GET",
      url: '/users/get_user_web_screenshot/',
      data: {
        'email': 'jeff1jeffo@gmail.com'
      },
      success: function (data) {
        
        console.log('SC: ', data);
      },
      dataType: 'json'
    });
    */

  });
  window.CSRF_TOKEN = "{{ csrf_token }}"
  
</script>

<!-- Following Menu -->
<div class="ui large top fixed menu menu-bg">
  <div class="ui container">
    <div class="ui large secondary menu">
      <div id="menu-item-1">
        <a href="#section-1" class="item">即時熱點</a>
      </div>
      <div id="menu-item-11">
        <a href="#section-11" class="item">Beacon使用統計</a>
      </div>
      <div id="menu-item-2">
        <a href="#section-2" class="item">熱門站點</a>
      </div>
      <div id="menu-item-3">
        <a href="#section-3" class="item">冷門站點</a>
      </div>
      <div id="menu-item-4">
        <a href="#section-4" class="item">各日人流動態</a>
      </div>
      <a href="/" class="item">回管理後台</a>
    </div>
  </div>
</div>

<!-- Sidebar Menu
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
  <a class="item">Work</a>
  <a class="item">Company</a>
  <a class="item">Careers</a>
  <a class="item">Login</a>
  <a class="item">Signup</a>
</div>
-->

<!-- Page Contents -->
<div class="pusher">
  <div class="ui  masthead segment bg1">
    <div class="ui text container">
      <h1 class="ui header">
        智慧校園
      </h1>
      <h2 class="ui header">iBeacon即時動態</h2>
    </div>

  </div>

  <div id="section-1" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <h2 class="ui header five wide column">即時iBeacon偵測統計熱點圖</h2>
        <div class="ui circular button icon one wide column"  data-tooltip="可參考熱區圖，選擇熱門區域iBeacon，加入校園活動訊息推播！" data-position="right center">
            <i class="large info circle icon"></i>
          </div>
      </div>
      <button id="btn_show_marker" class="ui button one wide" type="button">顯示站點圖釘</button>
      <div class="row" style="height: 800px;width: 1200px;">
        <div id="mapid"></div>
      </div>
    </div>
    
  </div>
  
  <div id="section-11" class="ui vertical stripe segment">
     
    <div class="ui middle aligned stackable equal width grid container">
      <div class="row">
          <div class="six wide column">
            <h2 class="ui header">Beacon使用統計</h2>
          </div>
          <div class="column">
            <h2 class="ui header">使用者分佈比例(%)</h2>
          </div>
      </div>
      
      <div class="center aligned row">
        <div class="six wide column">
          <div class="ui  statistics">
            <div class="ui statistic">
              <div class="label">
                總偵測次數
              </div>
              <div class="total value">
                
              </div>
            </div>
            <div class="ui statistic">
              <div class="label">
                今日累計偵測次數
              </div>
              <div class="today value">
                
              </div>
            </div>
          </div>
          
        </div>
        <div class="column" style="height: 400px;">
            <canvas id="myChart"></canvas>
        </div>
        
      </div>
    </div>
  </div>
  
  <div id="section-2" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="column">
          <h1 class="ui header">累積熱門站點</h1>
        </div>
      </div>
      <div class="row top3">
        <div class="eight wide column">
          <h3 class="ui header">TOP1</h3>
          <h3 class="ui header">{{top3_stations.0.name}}</h3>
          <p>偵測次數： {{top3_stations.0.count}} 次</p>
         </div>
        <div class="six wide right floated column">
          <img src="https://smartcampus.csie.ncku.edu.tw/{{top3_stations.0.image}}" class="ui large bordered rounded image">
        </div>
        
      </div>
      <!-- <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div> -->
    </div>
  </div>

  <div class="ui vertical stripe quote segment top3">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>TOP2</h3>
          <h4>{{top3_stations.1.name}}</h4>
          <p>偵測次數： {{top3_stations.1.count}} 次</p>
          <p>
            <img src="https://smartcampus.csie.ncku.edu.tw/{{top3_stations.1.image}}" class="ui medium rounded middle aligned image">
          </p>
        </div>
        <div class="column">
          <h3>TOP3</h3>
          <h4>{{top3_stations.2.name}}</h4>
          <p>偵測次數： {{top3_stations.2.count}} 次</p>
          <p>
            <img src="https://smartcampus.csie.ncku.edu.tw/{{top3_stations.2.image}}" class="ui medium rounded middle aligned image"> 
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div id="section-3" class="ui vertical stripe quote segment">
    <div class="ui top aligned stackable equal width grid container">
      <div class="row">
        <div class="column">
          <h1 class="ui header">冷門站點</h1>
        </div>
      </div>
      <div class="row">
        
        <div class="column">
          <h3>{{last3_stations.0.name}}</h3>
          <p>偵測次數： {{last3_stations.0.count}} 次</p>
          <p>
            <img src="https://smartcampus.csie.ncku.edu.tw/{{last3_stations.0.image}}" class="ui medium rounded middle aligned image">
          </p>
        </div>
        <div class="column">
          <h3>{{last3_stations.1.name}}</h3>
          <p>偵測次數： {{last3_stations.1.count}} 次</p>
          <p>
            <img src="https://smartcampus.csie.ncku.edu.tw/{{last3_stations.1.image}}" class="ui medium rounded middle aligned image"> 
          </p>
        </div>
        <div class="column">
          <h3>{{last3_stations.2.name}}</h3>
          <p>偵測次數： {{last3_stations.2.count}} 次</p>
          <p>
            <img src="https://smartcampus.csie.ncku.edu.tw/{{last3_stations.2.image}}" class="ui medium rounded middle aligned image"> 
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div id="section-4" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <h2 class="ui header">各日人流動態</h2>
      </div>
      <div class="row ui buttons">
          
        <button class="ui icon button" onclick="changeDate(-7)">
          <i class="angle double left icon"></i>
         
        </button>
        <button class="ui icon button" onclick="changeDate(-1)">
            <i class="left chevron icon"></i>
        </button>
        <button class="ui button" onclick="changeDate(0)">
          Today
        </button>
        <button class="ui icon button" onclick="changeDate(1)">
         
          <i class="right chevron icon"></i>
        </button>
        <button class="ui icon button" onclick="changeDate(7)">
            
          <i class="angle double right icon"></i>
        </button>
      </div>
      <div class="centered row">
          <h3 id="date" class="ui header"></h3>
      </div>
      <div class="row" style="height: 800px;width: 1200px;">
        <div id="mapid2"></div>
      </div>
    </div>
  </div>
<!--   
  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
      <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
      <a class="ui large button">Read More</a>
      <h4 class="ui horizontal header divider">
        <a href="#">Case Studies</a>
      </h4>
      <h3 class="ui header">Did We Tell You About Our Bananas?</h3>
      <p>Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>
      <a class="ui large button">I'm Still Quite Interested</a>
    </div>
  </div>
-->

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <!-- <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a> -->
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <!-- <a href="#" class="item">Banana Pre-Order</a>
            <a href="#" class="item">DNA FAQ</a>
            <a href="#" class="item">How To Access</a>
            <a href="#" class="item">Favorite X-Men</a> -->
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra</p>
        </div>
      </div>
    </div>
  </div> 

  <div class="ui flowing popup bottom center transition hidden" >
      <div class="ui three column bottom center aligned grid">
        <div class="column">
          <h4 class="ui content">點選不同區塊</h4>
          <p>可察看使用者細節</p>
          
        </div>
       
      </div>
    </div>
  <div class="ui basic modal">
    <div class="ui header">
      Proportion
    </div>
    <div class="content">
        <div class="ui inverted segment">
          <div class="label cat1">藝文</div>
          <div class="ui large red inverted progress">
            
            <div class="bar">
              <div class="progress" style="background-color: transparent !important;"></div>
            </div>  
          </div>
          <div class="label cat2">景觀</div>
          <div class="ui large blue inverted progress">
            
            <div class="bar">
              <div class="progress" style="background-color: transparent !important;"></div>
            </div>
          </div>
          <div class="label cat3">古蹟</div>
          <div class="ui large orange inverted progress">
            
            <div class="bar">
              <div class="progress" style="background-color: transparent !important;"></div>
            </div>
          </div>
          <div class="label cat4">行政教學</div>
          <div class="ui large green inverted progress">
            <div class="bar">
              <div class="progress" style="background-color: transparent !important;"></div>
            </div>
          </div>
        </div>
    </div>
    <div class="actions">
      <div class="ui green ok inverted button">
        <i class="checkmark icon"></i>
        Close
      </div>
    </div>
  </div>
</div>

{% endblock %}
